/*GENERAL STYLES*/
:root {
  --darkgray: #1f2022;
  --lightgray: #2d2e30;
  --brightblue: #2950ff;
  --white: #fff;
  --lightred: #f9433dcc;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
.nav-container {
  width: 100vw;
  background-color: var(--darkgray);
  position: sticky;
  z-index: 3;
  top: 0;
}

/*NAVBAR RESPONSIVE STYLES*/

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

#navbar-logo {
  color: var(--white);
  justify-self: start;
  margin-left: 20px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
}

.nav-links {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}

.nav-links:hover {
  color: var(--brightblue);
  transition: all 0.2s ease-out;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: var(--white);
}

/*MEDIAQUERYS FROM DE NAVBAR RESPONSIVE*/

@media screen and (max-width: 768px) {
  .nav-container {
    position: sticky;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    background: var(--brightblue);
    margin: 0;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
  }

  #navbar-logo {
    margin-left: 20px;
  }
  .nav-menu.active {
    background: var(--darkgray);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-links {
    text-align: center;
    line-height: 60px;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: var(--brightblue);
    color: var(--white);
    transition: all 0.4s ease-out;
  }

  .navbar {
    width: 100%;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }
  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*ABOUT SECTION STYLES*/
.about-text {
  height: 70vh;
  width: 40vw;
  float: left;
  background: linear-gradient(to bottom, #131414, #2d2e30);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-text-title {
  color: var(--white);
  justify-self: start;
  text-align: center;
  font-size: 40px;
}
h2 {
  color: var(--lightred);
  text-align: center;
}
span {
  color: var(--white);
}
.about-socialMedia {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
i {
  color: white;
  font-size: 35px;
  padding: 10px;
}

i:hover {
  color: var(--brightblue);
  cursor: pointer;
}

.about-img {
  height: 70vh;
  width: 60vw;
  position: absolute;
  float: left;
}

/*SKILLS SECTION STYLING*/

.skills-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #131414, #2d2e30);
  height: 80vh;
  width: 100vw;
}

.skills-text-title {
  color: var(--white);
  font-size: 60px;
  text-align: center;
}

.skills-icons {
  padding: 30px;
}

/*EDUCATION STYLING*/

.education-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to bottom, #131414, #2d2e30);
  height: 100vh;
  width: 100vw;
}

.skills-text-title {
  color: var(--white);
  font-size: 60px;
  text-align: center;
}

.education-text-title {
  color: var(--white);
  font-size: 60px;
  text-align: center;
}

.education-text-content {
  margin: 10px 10px;
}
h4 {
  text-align: center;
  color: var(--white);
}
p {
  color: var(--white);
  text-align: center;
}
.certification-links {
  text-decoration: none;
  color: var(--brightblue);
}

/*MEDIAQUERYS FOR THE SECTIONS PAGE*/
@media screen and (max-width: 768px) {
  .about-text {
    height: 100vh;
    width: 100vw;
    float: left;
  }
  .about-img {
    display: none;
    height: 0px;
    width: 0px;
  }
  .skills-container {
    height: 100vh;
  }

  i {
    font-size: 45px;
  }
}

/* Proyects content*/

.projects-container {
  background: linear-gradient(to bottom, #131414, #2d2e30);
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*cards styles*/

.card-content {
  margin-top: 5%;
  margin-bottom: 5%;
}
.header {
  text-decoration: none;
  text-align: center;
}
header:hover {
  color: #ffff;
}
.meta {
  text-align: center;
}

.image:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
/*change this part */
.image {
  overflow: hidden;
  height: 240px;
}

footer {
  background-color: var(--darkgray);
  height: 80px;
}

.footer {
  padding-top: 30px;
}
